/* SVG stylesheet classes */
.st0{fill:#D1262F;}
.st1{fill:#1A1A1A;}
.st2{fill:#FFFFFF;}
.st3{opacity:0.48;}
.st4{fill:#4D4D4D;}
.st5{fill:#B3B3B3;stroke:#1A1A1A;stroke-width:5;stroke-miterlimit:10;}
.st6{fill:#F2F2F2;}
.st7{font-family: 'Chakra Petch', sans-serif;}
.st8{font-size:16.2404px;}
.st9{fill:#B3B3B3;stroke:#1A1A1A;stroke-width:5;stroke-miterlimit:10;}
.st10{fill:#808080;}
.st11{font-size:17px;}
.st12{fill:#333333;stroke:#000000;stroke-width:12;stroke-miterlimit:10;}
.st13{fill:#333333;}
.st14{fill:#FBB03B; visibility: hidden;}
.st15{fill:#E6E7E8;}
.st16{fill:#D6D6D6;}
.st17{fill:#22B573;}
.st18{fill:#666666;}
.st19{opacity:0.33;fill:#ABEFEF;}
.st20{fill:#1e1e1e;}
.st21{fill:#000000;}
#elon_gif{
  opacity: 0;
}

/* 1 Animation - Shakes the package on slightly with a specific anchor point defined with the transform-origin*/
@keyframes shakePackage {
  0%   { transform: rotate(0deg);  transform-origin: 39% 15%; }
  25%  { transform: rotate(10deg); transform-origin: 36% 15%; }
  50%  { transform: rotate(0deg); transform-origin: 39% 15%; }
  75%  { transform: rotate(-10deg); transform-origin: 36% 15%; }
  100% { transform: rotate(0deg); transform-origin: 36% 15%; }
}

/* 2 Animation - Coin is moves to the machine and it's inserted in the hole, fading out as inserted*/
@keyframes insertCoin {
  0% { opacity: 1; visibility:visible;}
	40% {opacity: 1; transform: translate(-223px, -100px);}
  100% { opacity: 0; transform: translate(-223px, -100px);}
}

/* 3 Animation - The package moves down and rotates as it moves*/
@keyframes packageDrop {
  0%   { transform: rotate(0deg); transform-origin:center;}
  80%  { transform: rotate(.2turn) translate(480px, 670px); transform-origin:center; }
  100%  { transform: rotate(.2turn) translate(480px, 670px); transform-origin:center; }
}

/* 4 Animation - Machine door opens to get the product out, rotating only on the top area of the door and the x axis*/
@keyframes doorOpens {
  0% {}
  15% {transform: rotateX(-70deg);}
  100% {transform: rotateX(0deg);}
}

/* 5 Animation - Package moves outside the machine, rotates and scales up*/
@keyframes presentingPackage {
  0% {}
  50% {transform: translate(50px, 100px);}
  70% {transform: translate(50px, 100px) rotate(-85deg); transform-origin: 750px 865px;}
  80% {transform: translate(50px, 100px) rotate(-85deg); transform-origin: 750px 865px;}
  100% {transform: translate(750px, -500px) rotate(-85deg) scale(4,4); transform-origin: 750px 865px; }
}

/* 6 Animation - Hide the package (fade-out) to show the GIF image*/
@keyframes hidePack{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* 7 Animation - Shows GIF image (fade-in)*/
@keyframes showGIF{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Hide the cog (fade-out) */
@keyframes cogRotate{
  0% {}
  100% {opacity: 0;}
}


/* Animation classes to be added or removed to the respective graphics using javascript. Each class performs a animation defined in the keyframes above*/
.cogRotate{
  animation: cogRotate 1s;
}

.packageDrop{
  animation: packageDrop 2s;
  animation-fill-mode: forwards;
}

.shakePackage{
  animation: shakePackage 2s infinite;
}

.insertCoin{
	animation-name: insertCoin;
	animation-timing-function: ease-in;
	animation-duration: 3s;
/* Let the div element retain the style values from the last keyframe when the animation ends*/
  animation-fill-mode: forwards;
}

.doorOpens{
  transform-origin: 0% 73.3%;
  animation: doorOpens 1.5s ease-in-out 110ms 1 alternate;
}

.presentingPackage{
  animation: presentingPackage 3s;
  animation-fill-mode: forwards;
}

.hidePack{
  animation: hidePack 3s;
}

.showGIF{
  animation: showGIF 2s;
  animation-fill-mode: forwards;
}
